
mixin body(segundos)
    
    // Navigation >>>>>>>>>>>>>>>
    template(v-if="currentScene != (scenes.length+1)")
        navigation(key="nav1" v-if="started && resultado==false" :current-scene="currentScene" :scenes="scenesby10" :totalscenes="scenes" @back="currentScene = Math.floor((currentScene-1)/10)*10" @next="currentScene = (currentScene+10 > scenes.length) ? (scenes.length) : ( Math.floor((currentScene+10)/10)*10) " @goto="currentScene = $event" :answereds="r")
    
    
    // SCENES ############################################
    .scene(v-for="(i, index) in scenes" v-show="index >= currentScene && index < currentScene + 10 && started" :class="'scene_'+index")
        
        .row.mt-3.pregunta(:id="'scene_'+index")
            choose(@choosed="storeScreencapture(index)" :key="index" v-model="r[index]" :ref="refCount()" @isright="right++; i.res=true" @iswrong="i.res=false" :num="(index+1)+'.'" :text="i.pregunta+(i.texto?i.texto:'')" :options="i.opciones"  :answer="i.respuestaNum" :isactive="currentScene == index" :settings="i.settings")
                template
                    poppermini: div(v-html="linkery(helptexts[index])")

            if block
                block
    // SCENES FINALIZAR ############################################
    .scene(v-if="currentScene == (scenes.length)").lastscene
        template(v-if="stillMissing && !resultado")
            .falta Te falta contestar las siguientes preguntas:
            navigation(key="nav2" v-if="started && resultado==false" :current-scene="currentScene" :scenes="scenesby10" :totalscenes="scenes" @goto="currentScene = $event" :answereds="r" :onlypages="true")
        finalize(@evaluate="finalizar" @reset="reset" :resultado="resultado" :right="right" :total="total" @goback="currentScene = 0" @save="saveAndContinueLater()")
    // TEST SCREENSHOTS ####
    // .row: .col-3(v-for="(i, index) in screen"): img(:src="i").w-100
    // Counter >>>>>>>>>>
    counter(@started="started=true" @ended="finalizar" :resultado="resultado" :current-time="currentTime" @settime="currentTime=$event" :right="right" :total="total" :segundos="automaticSeconds")
    // Navigation >>>>>>>>>>>>>>>
    navigation(key="nav3" v-if="started && resultado==false" :current-scene="currentScene" :scenes="scenesby10" :totalscenes="scenes" @back="currentScene = Math.floor((currentScene-1)/10)*10" @next="currentScene = (currentScene+10 > scenes.length+1) ? (scenes.length) : ( Math.floor((currentScene+10)/10)*10) " @goto="currentScene = $event" :answereds="r")